# ---------------------------------- Cluster -----------------------------------
cluster.name: {{ cluster_name }}

# ------------------------------------ Node ------------------------------------
node.name: {{ node_name }}
node.master: {{ is_elasticsearch_master }}
node.data: {{ is_elasticsearch_data }}

# ----------------------------------- Paths ------------------------------------
path.data: {{ elasticsearch_data_path }}
path.logs: {{ elasticsearch_log_path }}

# ---------------------------------- Network -----------------------------------
network.host: [{{ bind_ip|join(",") }}]
http.port: {{ bind_port }}

# --------------------------------- Machine Learning ----------------------------------
node.ml: {{ is_ml_enabled }}
xpack.ml.enabled: {{ is_ml_enabled | lower }}

{% if xpack_security.enabled %}
# --------------------------------- XPACK Security Configuration ----------------------------------
xpack.security.enabled: {{ xpack_security.enabled | lower }}
xpack.security.transport.ssl.verification_mode: {{ xpack_security.ssl_verification_mode }}
xpack.security.transport.ssl.keystore.path: {{ xpack_security.ssl_keystore_path }}
xpack.security.transport.ssl.truststore.path: {{ xpack_security.ssl_truststore_path }}
{% endif %}

# --------------------------------- Discovery ----------------------------------
{% if discover_eligible_masters is defined %}
discovery.seed_hosts: [{{ discover_eligible_masters|join(",") }}]
{% endif %}

{% if initial_master_nodes is defined %}
cluster.initial_master_nodes: [{{ initial_master_nodes|join(",") }}]
{% endif %}
